<style>
</style>

<header th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-dark " >
    <div class="container-fluid">
      <a class="navbar-brand " href="#" style="color: #85FFBD;font: xxx-large;font-family: Bahnschrift ;font-weight: bolder ">CARE REGISTRY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"  style="color: #85FFBD;font: x-large;font-family: Bahnschrift ;font-weight: bolder ">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"  style="color: #85FFBD;font: x-large;font-family: Bahnschrift ;font-weight: bolder ">ABOUT</a>
          </li>
        </ul>
        <div class="d-flex" role="search">
          <a class="btn btn-outline-danger"  placeholder="LOGOUT"  style="color: #85FFBD;font: x-large;font-family: Bahnschrift ;font-weight: bolder " aria-label="Search">LOGOUT</a>
      </div>
    </div>
    </div>
  </nav>
</header>
